@using Be.Forum.MVC.Models.PostViewModels;

@model List<ListItemPostViewModel>

<a asp-area="" asp-controller="Post" asp-action="Create" class="btn btn-default">New post</a><br /><br />
@for (var i = 0; i < Model.Count; i++) {
  var item = Model[i];
  @await Html.PartialAsync("_HomeItemPartial", new PartialListItemPostViewModel(i, item))
}